{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}
  <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
  
  <p>Address:- {{ mymember.country }}</p>
  <p>Address:- {{ mymember.team }}</p>
  <p>Age:- {{ mymember.age }}</p>
  
  <p>Back to <a href="/members">Members</a></p>
  
{% endblock %}
